@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.container-fullscreen {
  position: fixed;     /* Lock to screen */
  top: 0;
  left: 0;
  width: 100vw;        
  height: 100vh;       
  background: #f9f9f9; 
  overflow: hidden;    /* Prevent scrolling */
  display: flex;       /* Center login box */
  justify-content: center;
  align-items: center;
}
 .register-box {
  background: rgba(255, 255, 255, 0.15);
  background-color: white;
  backdrop-filter: blur(10px);
  padding: 40px 30px;
  border-radius: 20px;
  width: 350px;
  max-width: 92vw;
  box-shadow: 0 8px 32px rgba(0,0,0,0.2);
  text-align: left;
  color: black;  
  }

.register-box h2{
  font-size: 30px;
  margin: 0 0 18px 0; 
  text-align: center;
}
.register-box::before{
  filter: blur(10px);
  }

.field{                       
  margin-bottom:16px;         
}

.register-box input{
 padding: 10px;
 border-radius: 8px;        
 font-size: 16px;  
 margin: 10px 0;
 border-color: black;
 width: 90%;

}

.register-box button{
  border-radius: 15px;
  background-color: #007BFF;
  color: white;
  font-size: 20px;
  margin-top:auto; 
  width: 150px;
  border-color: #007BFF;
  font-weight: bold;
}
.register-box button:hover{
 background-color: #003465;
 border-color: #003465;
}
.register-box title{
  font-size: normal;
  font-family: Arial, Helvetica, sans-serif;
}
.register-box h5{
  font-family: Arial, Helvetica, sans-serif;
  align-self: flex-start;
  margin-bottom: 2px;
  text-align: start;
  margin-left: 10px;
  margin-top: 0px;
  }

.register-box h6{
  font-weight: normal;
  cursor: pointer;
  transition: color 0.1s;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: start;
  margin-left: 100px;
}
.register-box h6:hover{
  color: #007BFF;
}
